<!-- end #header-top -->
<div id="header">

  <!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="row">
    <a href="/">
      <img style="position: absolute; top: -10px; width: 190px; z-index:9999" class="responsive-img" alt="" src="images/logo.png">
    </a>
  </div>
  <div class="row">
    <div class="span3">

      <!-- // Logo // -->
      <a href="index.html" id="logo"></a>

    </div>
    <!-- end .span3 -->
    <div class="span9">

      <!-- // Mobile menu trigger // -->
      <a href="#" id="mobile-menu-trigger">
        <i class="fa fa-bars"></i>
      </a>

      <!-- // Menu // -->
      <ul class="sf-menu" id="menu">

        <li >
          <a href="">Sobre a SONU</a>
          <ul>
            <li>
              <a href="/carta-de-apresentacao">Carta de Apresentação</a>
            </li>
            <li>
              <a href="/o-que-sao-muns">O que são MUN's? (Model United Nations)</a>
            </li>
            <li>
              <a href="/historia-sonu">História da SONU</a>
            </li>
            <li>
              <a href="/secretariado">O Secretariado</a>
            </li>
            <li>
              <a href="/diretoria">A Diretoria</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>

          </ul>
        </li>
        <li >
          <a href="">SONU 2017</a>
          <ul>
            <li>
              <a href="/comites">Comitês</a>
            </li>
            <li>
              <a href="/cronograma">Cronograma</a>
            </li>
            <li>
              <a href="/festas">Festas</a>
            </li>
            <li>
              <a href="/fortaleza">Fortaleza</a>
            </li>
            <li>
              <a href="/certificados-sonu">Certificados SONU
              </a>
            </li>
          </ul>
        </li>

        <li >
          <a href="#">Outros Projetos</a>
          <ul>
            <li>
              <a href="/sonu-academico">SONU Acadêmico</a>
            </li>
            <li>
              <a href="/sonu-beta">SONU Beta</a>
            </li>
            <li>
              <a href="/sonu-escolas">SONU Escolas</a>
            </li>
            <li>
              <a href="/minicursos-palestras-sonu-solidario">Minicursos/Palestras</a>
            </li>
            <li>
              <a href="/sonu-solidario">SONU Solidário</a>
            </li>
            <li>
              <a href="/certificados">Certificados</a>
            </li>
          </ul>
        </li>

        <li >
          <a href="/parceiros">Parceiros</a>
        </li>
        <li >
          <a href="/inscricoes">Inscrições</a>
        </li>
        <li >
          <a href="/contato">Contato</a>
        </li>

      </ul>

    </div>
    <!-- end .span9 -->
  </div>
  <!-- end .row -->

  <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
<!-- end #header -->
