	<!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<html lang="pt">
  <head>
    <meta charset="utf-8">

    <link rel="shortcut icon" href="slider/images/favicon.png"/>

    <link rel="stylesheet" type="text/css" href="slider/css/fullwidth.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="slider/rs-plugin/slider/css/settings.css" media="screen"/>

  </head>
  <body>

    <div class="wrapper">
      <article>
        <div class="fullwidthbanner-container">
          <div class="fullwidthbanner">
            <ul>

              <li data-transition="fade" data-slotamount="7">
                <a href="http://sonu.ufc.br/carta-de-apresentacao" target="_blank"><%= image_tag("/uploads/f144fed2497cff11ffb7e5166c8a63ff.jpg")%>
                </li>

                <li data-transition="fade" data-slotamount="7">
                  <a href="http://sonu.ufc.br/comites" target="_blank"><%= image_tag("/uploads/929e543b7ea77acbd60400496226702d.jpg")%>
                  </li>

                  <li data-transition="fade" data-slotamount="7">
                    <a href="http://sonu.ufc.br/o-que-sao-muns" target="_blank"><%= image_tag("/uploads/588fd74c060f19d719ee3787a08eba47.jpg")%>
                    </li>

                    <li data-transition="fade" data-slotamount="7">
                      <a href="#" target="_blank"><%= image_tag("/uploads/93673a35ee40fab9fd064173a1b1a840.jpg")%>
                      </li>

                    </ul>
                    <div class="tp-bannertimer"></div>
                  </div>
                </div>
              </article>
            </div>

            <script type="text/javascript" src="slider/js/jquery.min.js"></script>

            <!-- jQuery KenBurn Slider  -->
            <script type="text/javascript" src="slider/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
            <script type="text/javascript" src="slider/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
            <script type="text/javascript">

              //var jQuery=jQuery; jQuery.noConflict();

              jQuery(document).ready(function () {

                if (jQuery.fn.cssOriginal != undefined)
                  jQuery.fn.css = jQuery.fn.cssOriginal;

                jQuery('.fullwidthbanner').revolution({
                  delay: 10000, startwidth: 890, startheight: 450, onHoverStop: "off", // Stop Banner Timet at Hover on Slide on/off

                  thumbWidth: 100, // Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                  thumbHeight: 50,
                  thumbAmount: 3,

                  hideThumbs: 200,
                  navigationType: "none", //bullet, thumb, none, both	 (No Shadow in Fullwidth Version !)
                  navigationArrows: "verticalcentered", //nexttobullets, verticalcentered, none
                  navigationStyle: "square", //round,square,navbar

                  touchenabled: "on", // Enable Swipe Function : on/off

                  navOffsetHorizontal: 0,
                  navOffsetVertical: 20,

                  fullWidth: "on",

                  shadow: 0, //0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

                  stopLoop: "off" // on == Stop loop at the last Slie,  off== Loop all the time.

                });

              });
            </script>

          </body>
        </html>


<div style="background-image:url(_content/backgrounds/bg-box.png);" class="box">

  <div class="row">
    <div class="span12">

      <div class="callout-box hidden-phone">

        <div class="row">
          <div class="span9">

            <div class="icon-box-1">

              <div class="icon-box-content">

                <h2>
                  <a href="#">Já se
                    <strong>CADASTROU</strong>
                    em nosso site?
                  </a>
                </h2>

                <p class="last hidden-tablet">Faça já seu cadastro para realizar sua inscrição em nossos eventos.</p>

              </div>
              <!-- end .icon-box-content -->

            </div>
            <!-- end .icon-box-1 -->

          </div>
          <!-- end .span9 -->
          <div class="span3 text-right">

            <a href="/cadastro" class="btn btn-large-big btn-blue-light">
              <strong>CADASTRE-SE</strong>
              AGORA</a>

          </div>
          <!-- end .span3 -->
        </div>
        <!-- end .row -->

      </div>
      <!-- end .callout-box -->

    </div>
    <!-- end .span12 -->
  </div>
  <!-- end .row -->

</div>
<!-- end .box -->
