<div id="header-top">

    <!-- /// HEADER TOP  //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="row">
        <div class="span7 text-right" id="header-top-widget-area-1">

            <div class="widget widget_text">

                <div class="textwidget"></div>
                <!-- end .text -->

            </div>
            <!-- end .widget_text -->

        </div>
        <!-- end .span6 -->
        <div class="span5 text-right" id="header-top-widget-area-2">

            <div class="widget ewf_widget_social_media">

                <div class="fixed">

                    <!-- <a href="/cadastro" style="margin-right:20px">Cadastre-se</a> -->
                    <%= link_to destroy_user_session_path,:method => :delete, style:"margin-right:20px" do%>
                    Logout
                    <%end%>
                    <%= link_to user_session_path, class:"btn-blue-light" do%>
                    <i class="fa fa-lock"></i>
                    Meu Perfil</a>
                <%end%>
                <!-- <a class="btn-blue-light" name="Login" href="/login">
            <i class="fa fa-lock"></i>
            Login</a> -->
            </span>

        </div>

    </div>
    <!-- end .widget_social_media -->

</div>
<!-- end .span6 -->
</div>
<!-- end .row -->

<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
