<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">

  <meta name="language" content="pt-br"/>
  <meta name="author" content="SONU Acadêmico"/>
  <meta name="description" content="Programa de Extensão Universitário - Modelo de Simulações de Organismos Internacionais"/>
  <meta name="keywords" content="sonu onu academico ufc simulacao">

  <!-- <base href="http://sonu.com.br/"/> -->

  <title>
    SONU
  </title>

  <!-- /// Favicons ////////  -->
  <!-- <%= link_to 'images/favicon.png',rel:"shortcut icon"%> -->
  <link rel="shortcut icon" href="images/favicon.png">

  <!-- /// Template CSS ////////  -->
  <!-- <link rel="stylesheet" href="_layout/css/base.css" tppabs="/_layout/css/base.css">
  <link rel="stylesheet" href="_layout/css/grid.css" tppabs="/_layout/css/grid.css">
  <link rel="stylesheet" href="_layout/css/elements.css" tppabs="/_layout/css/elements.css">
  <link rel="stylesheet" href="_layout/css/layout.css" tppabs="/_layout/css/layout.css">
  <link rel="stylesheet" href="_layout/css/wide.css" tppabs="/_layout/css/wide.css" name="layout">

  <link rel="stylesheet" href="_layout/js/revolutionslider/css/settings.css" tppabs="/_layout/js/revolutionslider/css/settings.css">
  <link rel="stylesheet" href="_layout/js/revolutionslider/css/custom.css" tppabs="/_layout/js/revolutionslider/css/custom.css">
  <link rel="stylesheet" href="_layout/js/bxslider/jquery.bxslider.css" tppabs="/_layout/js/bxslider/jquery.bxslider.css">
  <lin rel="stylesheet" href="/_layout/js/magnificpopup/magnific-popup.css" tppabs="/_layout/js/magnificpopup/magnific-popup.css"> -->

    <!-- /// Google Fonts ////////  -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Share+Tech|Economica:400,700,400italic,700italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Roboto+Condensed:300italic,400,700' rel='stylesheet' type='text/css'> -->

    <!-- /// IconFontCustom ////////  -->
    <!-- <link rel="stylesheet" href="_layout/css/iconfontcustom/iconfontcustom.css" tppabs="/_layout/css/iconfontcustom/iconfontcustom.css"> -->

    <!-- /// FontAwesome Icons 4.0.3 ////////  -->
    <!-- <link rel="stylesheet" href="_layout/css/fontawesome/font-awesome.min.css" tppabs="/_layout/css/fontawesome/font-awesome.min.css"> -->

    <!-- /// Cross-browser CSS3 animations ////////  -->
    <!-- <link rel="stylesheet" href="_layout/css/animate/animate.min.css" tppabs="/_layout/css/animate/animate.min.css"> -->

    <!-- /// Modernizr ////////  -->
    <!-- <script src="_layout/js/modernizr-2.6.2.min.js" tppabs="/_layout/js/modernizr-2.6.2.min.js"></script> -->

  </head>
