<div class="row">
  <div class="span7">
    <h3 class="headline">
      <span>
        <i class="fa fa-instagram"></i>
        SONU NO INSTAGRAM</span>
    </h3>
    <iframe
      src="http://snapwidget.com/in/?u=c29udV91ZmN8aW58MTAwfDR8Mnx8bm98NXxmYWRlT3V0fG9uU3RhcnR8eWVz&v=3714"
      title="Instagram Widget"
      allowTransparency="true"
      frameborder="0"
      scrolling="no"
      style="border:none; overflow:hidden; width:420px; height:210px"></iframe>

  </div>
  <!-- end .span8 -->
  <div class="span5 text-right">
    <h3 class="headline">
      <span>
        <i class="fa fa-facebook-square"></i>
        SONU NO FACEBOOK</span>
    </h3>
    <div>
      <iframe
        src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsonu.ufc&amp;width=380&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=1612842998855267"
        scrolling="no"
        frameborder="0"
        style="border:none; overflow:hidden; width:340px; height:258px;"
        allowTransparency="true"></iframe>
    </div>
  </div>
  <!-- end .span4 -->
</div>
<!-- end .row -->
