<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>SONU Beta</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <p dir="ltr" style="line-height: 1.38; margin-top: 0pt; margin-bottom: 0pt; text-align: justify;" id="docs-internal-guid-fafe5254-4630-6f7b-0d4a-0efd466765e2"><br>
                <font face="Arial" style="font-size: 10pt; font-family: Arial, Verdana;"><br>O Projeto SONU Beta é uma versão reduzida da simulação que ocorre tradicionalmente no mês de maio. A simulação tem a duração de dois dias e conta com de três a quatro
                    comitês, além do Comitê de Imprensa Internacional. A SONU Beta tem o intuito de inserir o participante no mundo das simulações e o permite conhecer mais sobre o funcionamento das mesmas. O Projeto busca impulsionar a parte de extensão do Programa
                    SONU, proporcionando aos estudantes, de todos os cursos de graduação e de qualquer universidade, a imersão no ambiente diplomático e das organizações internacionais. &nbsp;&nbsp;</font>
                <font face="Arial" style="font-size: 10pt; font-family: Arial, Verdana;"><br><br></font>
            </p>
            <br><br>
            <a href="/sonu-beta/vermais">Ver mais</a>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
