<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Certificados</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma" size="3"></font>
            </div>
            <style type="text/css">
                P {
                    margin-bottom: 0.21cm;
                }
                A:link {}

            </style>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU Beta 2016 - 20 a 22 de maio de 2016</font>
            </p>
            <div style="text-align: center;">
                <ul>
                    <li style="text-align: left;">
                        <font face="Arial" size="2">
                            <a href="https://drive.google.com/open?id=0B5BsBPVIEGUUempGSHp3bzA0TkE">Comitê de Imprensa Internacional - CII</a>
                        </font>
                    </li>
                    <li style="text-align: left;">
                        <font face="Arial" size="2">
                            <a href="https://drive.google.com/open?id=0B5BsBPVIEGUUa3BXTGszWU45Vk0">Comitê&nbsp;da Organização para Cooperação Islâmica - OCI</a>
                        </font>
                    </li>
                    <li style="text-align: left;">
                        <font face="Arial" size="2">
                            <a href="https://drive.google.com/open?id=0B5BsBPVIEGUULTg5YUdGdjkzdGM">Comitê do Conselho de Direitos Humanos - CDH</a>
                        </font>
                    </li>
                    <li style="text-align: left;">
                        <font face="Arial" size="2">
                            <a href="https://drive.google.com/open?id=0B5BsBPVIEGUUdnpmNlNRNmJJeDA">Comitê de Desarmamento e Segurança Internacional - DSI</a>
                        </font>
                    </li>
                </ul>
            </div>
            <p align="justify" style="text-align: left; font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU Beta 2015 - 08 a 10 de maio de 2015</font>
            </p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></p>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li>
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUflVJcGNkWEJDWGRKcGtkb0ZENGkzd2F3eG5SdTFBdG1oQ1NIVnRXWnFGQm8&amp;usp=sharing">
                        <font face="Tahoma">Comitê de Imprensa Internacional - CII</font>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUfnVrX01pZHhPdnU2bUltVHlYVko4aDJJQjZ2cmRYejJpWlhzMEY5b2VLaXc&amp;usp=sharing">
                        <font face="Tahoma">Conselho da União Europeia - CONSILIUM</font>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUfmVadXNvU25VWTZJWGNsbWg2LXZmV3lwdnVEc01JRFUxTmVVcTQ2TDF2eUE&amp;usp=sharing">
                        <font face="Tahoma">Conselho de Segurança das Nações Unidas - CSNU</font>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUfnN1LVBQWEZRMzBETldaYVY3aE1Ma2EzdURtYWJPOXJia1JNZzNrMkk5WGM&amp;usp=sharing">
                        <font face="Tahoma">Organização dos Estados Americanos - OEA</font>
                    </a>
                </li>
                <li>
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUfm9BQ1BaR0h1aTBBc0RJTEhrMFNwRVJIV3BOZnpLeVVpejQ3ZW5vbFdMd1k&amp;usp=sharing">
                        <font face="Tahoma">Diretores e Secretários - ORGANIZAÇÃO</font>
                    </a>
                </li>
            </ul>
            <p style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU 2014 - 24 a 28 de setembro de 2015</font>
            </p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUT0ZrRERJT3pYSms&amp;usp=sharing">Assembleia Geral das Nações Unidas (AGNU)</a>
                </font>
            </p>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUQklvcUlQaUZQREk&amp;usp=sharing">Conselho de Direitos Humanos (CDH)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUNC1qVEV0akJQdXM&amp;usp=sharing">Comissão de Direito Internacional (CDI)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUVERiaWNSUjFBWVE&amp;usp=sharing">Corte Europeia de Direitos Humanos (CEDH)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUaGNYZUVUSUFGR3M&amp;usp=sharing">Comitê de Imprensa Internacional (CII)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUTEVtZ2FJbFNjMjQ&amp;usp=sharing">Primeiro Comitê das Nações Unidas para Desarmamento e Segurança Internacional (DSI - Mini-SONU 2014)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUeEV5R0hDMVM3bDA&amp;usp=sharing">Organização Internacional de Polícia Criminal (Interpol)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUcmpHNlRQckJZTmM&amp;usp=sharing">Organização Internacional do Trabalho (OIT)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUTGNNUzFHdWNSdUE&amp;usp=sharing">Organização de Países Produtores de Petróleo (OPEP - Mini-SONU 2014)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUSFJmLVFvUW5DdGM&amp;usp=sharing">
                        <i>United Nations Security Council 1994</i>&nbsp;(UNSC 1994)</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">-&nbsp;<a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUcThlenl2bVdKTWc&amp;usp=sharing">ORGANIZAÇÃO SONU 2014</a>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU Escolas 2014 - Colégio 7 de Setembro (Sedes Aldeota e Centro) - 3 e 4 de setembro de 2014</font>
            </p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></p>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUWmo1U1pLQ1JTM0U&amp;usp=sharing">
                        <font face="Tahoma">Conselho Econômico e Social das Nações Unidas (ECOSOC) e Comitê de Imprensa Internacional (CII)</font>
                    </a>
                </li>
            </ul>
            <p style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></p>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">I Simpósio de Direito Internacional (evento promovido em parceria com GEDAI, Conceito e Mundo Direito) - 20 a 22 de agosto de 2014<br></font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUX1VMdTAydmczbUk&amp;usp=sharing">Certificados</a>&nbsp;</font>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUTUpWb1NJdHdlVE0&amp;usp=sharing">
                        <font face="Tahoma">Certificados de Apresentação de Trabalhos Científicos</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUURFRkdExuYVhBX3c&amp;usp=sharing">
                        <font face="Tahoma">Certificados para organizadores</font>
                    </a>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br></font>
            </p>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU Beta 2014 - 16 a 18 de maio de 2014<br></font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B3A-xuc5a8D1YUJoRVZfemZ6NEE&amp;usp=sharing">
                        <font face="Tahoma">Agência Internacional de Energia Atômica - AIEA</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B3A-xuc5a8D1TjNuRldIaUM3M2s&amp;usp=sharing">
                        <font face="Tahoma">Organização Mundial de Saúde - OMS</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B3A-xuc5a8D1LUtTVTdUZnUtbjQ&amp;usp=sharing">
                        <font face="Tahoma">Conferência das Nações Unidas sobre Comércio e Desenvolvimento - UNCTAD&nbsp;</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUR0NLb0U0VlBMZGs&amp;usp=sharing">
                        <font face="Tahoma">Comitê de Imprensa Internacional - CII&nbsp;</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUMTRwY0JIZXNFSm8&amp;usp=sharing">Diretores e Secretários - Organização</a>&nbsp;</font>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br>
                </font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU Escolas 2014 - EEM Adauto Bezerra - 10 e 11 de abril de 2014<br></font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B3A-xuc5a8D1T2FHeHQtZjZabUU&amp;usp=drive_web">
                        <font face="Tahoma">Organização Mundial de Saúde - OMS</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B3A-xuc5a8D1T2FHeHQtZjZabUU&amp;usp=drive_web">
                        <font face="Tahoma">Comitê de Imprensa Internacional - CII&nbsp;</font>
                    </a>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br>
                </font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">EVENTOS ACADÊMICOS EM 2014</font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUVXlMQTJEYkRDQTQ&amp;usp=sharing">
                        <font face="Tahoma">Minicurso "Fear Like a Boss" - 12.05.2014</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUU3p1dGlZY0d0QWs&amp;usp=sharing">
                        <font face="Tahoma">Minicurso - Uma visão internacional sobre a Venezuela - 09.05.2014</font>
                    </a>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUeXBEQXl0bnNqNzg&amp;usp=sharing">
                        <font face="Tahoma">Workshop de Metodologia Científica SONU 2014 - 07.02.2014</font>
                    </a>
                </li>
                <li>
                    <span style="text-align: justify;">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUTUVWNTByd3lDcG8&amp;usp=sharing">
                            <font face="Tahoma">Palestra OIT SONU 2014 - "Organização Internacional do Trabalho e os tabus escravistas e machistas em face da mudanças sociais" - 19.09.2014</font>
                        </a>
                    </span>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br>
                </font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU 2013</font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUdFp3RFI1Q2syQlk&amp;usp=sharing">Alto Comissariado das Nações Unidas para Refugiados</a>
                        - ACNUR</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUOWxzaFh2X2Itd2s&amp;usp=sharing">Comitê de Imprensa Internacional</a>
                        - CII</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUX2tzTF9rZHNLSVE&amp;usp=sharing">Corte Interamericana de Direitos Humanos</a>
                        - Corte IDH</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUS2NLZV9JcVh6Qlk&amp;usp=sharing">Comissão para Prevenção ao Crime e Justiça Criminal</a>
                        - CPCJC</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUb3RLczQyVmR3XzQ&amp;usp=sharing">Conselho Econômico e Social</a>
                        - ECOSOC</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUU2JZd3BXUkY3V1k&amp;usp=sharing">Grupo dos 20</a>
                        - G20</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUTk1lYkY2ZTNnbUk&amp;usp=sharing">Organização do Tratado do Atlântico Norte</a>
                        - OTAN</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUeWlHX1VONjJ5UGc&amp;usp=sharing">União Africana</a>&nbsp;- UA</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUVFpHOWJiOUJuTm8&amp;usp=sharing">United Nations Security Council</a>
                        - UNSC</font>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUMnlrVjFXQmlySkU&amp;usp=sharing">
                        <font face="Tahoma">Diretores, Editores e Secretariado&nbsp;</font>
                    </a>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br>
                </font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">SONU-β 2013</font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B6ExLPNEtZGHZlg3cVBCbTVfaUU&amp;usp=sharing">Comitê de Imprensa Internacional</a>&nbsp;- CII</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B6ExLPNEtZGHYVRvRTNlZVBKTzg&amp;usp=sharing">Conselho da União Europeia</a>&nbsp;- CONSILIUM&nbsp;</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B6ExLPNEtZGHeWxuNkhlcXhiQnM&amp;usp=sharing">Conselho de Segurança</a>&nbsp;- CS</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B6ExLPNEtZGHZ3ZhNmNzZGRNSXc&amp;usp=sharing">União das Nações Sul-Americanas</a>&nbsp;- UNASUL</font>
                </li>
                <li style="text-align: justify;">
                    <a href="https://drive.google.com/folderview?id=0B6ExLPNEtZGHR0EtdHIzalZ3eGs&amp;usp=sharing">
                        <font face="Tahoma">Diretores e Secretariado</font>
                    </a>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma"><br>
                </font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma">EVENTOS ACADÊMICOS EM 2013</font>
            </p>
            <div align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></div>
            <ul style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUS2lmVXRRMzR3SGc&amp;usp=sharing">Oficina SONU - VIII Semana do Direito da UFC</a>: "Conflitos internos X Soberania estatal: A Questão de Darfur"</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUakl1U2Y4NDh6VnM&amp;usp=sharing">MINICURSO</a>&nbsp;"Intervenir ou ne pas intervenir: une analyse des situations syrienne et malienne à la lumière du droit international"</font>
                </li>
                <li style="text-align: justify;">
                    <font face="Tahoma">
                        <a href="https://drive.google.com/folderview?id=0B5BsBPVIEGUUcVJ5UXdNNzVneFE&amp;usp=sharing">MINICURSO</a>&nbsp;"Die europäische Krise - Ein Blick aus Deutschland"&nbsp;</font>
                </li>
            </ul>
            <p align="justify" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                <font face="Tahoma" size="3"><br></font>
            </p>
            <font face="Tahoma" size="3" style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"></font>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
