<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Comitês</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">
                <ul class="commissions">
                <% @commissions.each do |com| %>

                    <h3><%= link_to com.title %></h3>
                    <li><%= link_to 'ver mais', commission_path(com), class:"btn btn-green-dark" %></li>
                <% end %>
                </ul>
                </div>
             
                </div>
                <div style="clear:both"></div>

            <div class="divider double-dotted"></div>
            
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

