<div id="content" style="padding-bottom:0">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Contato</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span3">

            <div class="icon-box-1">

                <i class="ifc-student_filled"></i>

                <div class="icon-box-content">

                    <h3>Nossos contatos</h3>

                </div>
                <!-- end .icon-box-content -->

            </div>
            <!-- end .icon-box-1 -->

            <p>Alguma dúvida, sugestão ou reclamação?
                <br>A SONU quer ouvir você!</p>

            <address>
                <strong>SONU</strong><br>
                Rua Meton de Alencar S/N<br>
                Centro, Fortaleza-CE<br>
                Email: contato@sonu.com.br
            </address>

        </div>
        <!-- end .span3 -->
        <div class="span9">

            <h3>Envie sua mensagem através do formulário abaixo:</h3>

            <br>

            <form action="/contato" method="post" name="contact-form" id="contact-form" class="fixed" novalidate="novalidate">

                <input type="hidden" name="enviar" value="1">
                <fieldset>

                    <div id="formstatus"></div>

                    <div class="row">
                        <div class="span3">

                            <input type="text" placeholder="Nome" value="" name="nomee" id="nomee">

                        </div>
                        <!-- edd .span3 -->
                        <div class="span3">

                            <input type="text" placeholder="E-mail" value="" name="email" id="email">

                        </div>
                        <!-- edd .span3 -->
                        <div class="span3">

                            <input type="text" placeholder="Assunto" value="" name="assunto" id="assunto">

                        </div>
                        <!-- edd .span3 -->
                    </div>
                    <!-- end .row -->

                    <textarea placeholder="Mensagem" cols="25" rows="10" name="mensagem" id="mensagem" class="span9"></textarea>

                    <input type="submit" value="Enviar" name="submit" id="submit" class="btn btn-green-dark float-right">

                </fieldset>
            </form>

        </div>
        <!-- end .span9 -->
    </div>
    <!-- end .row -->

    <div class="row">
        <div class="span12">

            <div style="margin-bottom:-20px;" class="social-media text-center">

                <a class="facebook-icon social-icon" href="https://www.facebook.com/sonu.ufc" target="_blank">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="twitter-icon social-icon" href="https://twitter.com/sonu_ufc" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="twitter-icon social-icon" href="https://instagram.com/sonu_ufc" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="flickr-icon social-icon" href="https://www.flickr.com/photos/sonu-ufc/" target="_blank">
                    <i class="fa fa-flickr"></i>
                </a>
                <a class="youtube-icon social-icon" href="http://www.youtube.com/user/sonuufc" target="_blank">
                    <i class="fa fa-youtube"></i>
                </a>
            </div>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end .row -->

    <div style="height:400px" class="google-map">

        <iframe style="width: 100%; height: 400px; border: none; position:relative;" src="https://mapsengine.google.com/map/embed?mid=zJPMp39CO4UA.k4ZRginmJXZE" width="640" height="480"></iframe>

    </div>
    <!-- end .google-map -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
