<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Cronograma</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <p class="MsoNormal" align="center" style="font-weight: normal; text-align: center;">
                <span style="font-size:14.0pt;line-height:115%;font-family:" times="" new="" roman"," serif""="">CRONOGRAMA DE ATIVIDADES<o:p></o:p>
                </span>
            </p>
            <table class="MsoTableLightShadingAccent1" border="1" cellspacing="0" cellpadding="0" style="font-weight: normal; text-align: center; border-collapse: collapse; border: none;">
                <tbody>
                    <tr>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.7pt;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;border-left:solid windowtext 1.0pt;
  border-bottom:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  border-right:none;mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:
  accent1;mso-border-left-alt:solid windowtext .5pt;mso-border-bottom-alt:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Horário<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;border-left:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;
  mso-border-bottom-alt:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Quarta-feira (21/09)<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;border-left:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;border-right:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Horário<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="213"
                            colspan="2"
                            valign="top"
                            style="width:160.0pt;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;border-left:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;
  mso-border-bottom-alt:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Quinta e Sexta-feira &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;(22 e 23/09)<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="98" valign="top" style="width:73.7pt;border:none;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Horário<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="96"
                            valign="top"
                            style="width:72.25pt;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;border-left:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;
  mso-border-bottom-alt:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Sábado (24/09)<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="102" valign="top" style="width:76.3pt;border:none;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Horário<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="111"
                            valign="top"
                            style="width:83.55pt;border-top:solid #4F81BD 1.0pt;
  mso-border-top-themecolor:accent1;border-left:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;border-right:solid windowtext 1.0pt;
  mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;
  mso-border-bottom-alt:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">Domingo (25/09)<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.7pt;border:none;border-left:solid windowtext 1.0pt;
  mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;
  mso-border-top-alt:solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;
  mso-border-left-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">&nbsp;</span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <span style="font-family:
  " times="" new="" roman"," serif""="">
                                    <b>&nbsp;</b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border:none;mso-border-top-alt:
  solid #4F81BD 1.0pt;mso-border-top-themecolor:accent1;mso-border-left-alt:
  solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:accent1;
  mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">08:00 – 12:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="108" valign="top" style="width:81.35pt;border:none;background:#D3DFEE;
  mso-background-themecolor:accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>1ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="105"
                            valign="top"
                            style="width:78.65pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>4ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="98" valign="top" style="width:73.7pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:accent1;
  mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">08:00 – 12:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="96"
                            valign="top"
                            style="width:72.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>7ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="102" valign="top" style="width:76.3pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:accent1;
  mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">09:00 – 13:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="111"
                            valign="top"
                            style="width:83.55pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>10ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="109" valign="top" style="width:81.7pt;border:none;border-left:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">&nbsp;</span>
                                </b>
                            </p>
                        </td>
                        <td width="109" valign="top" style="width:81.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>&nbsp;</b>
                                </span>
                            </p>
                        </td>
                        <td width="109" valign="top" style="width:81.75pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">12:00 – 13:30<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="108" valign="top" style="width:81.35pt;border:none;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Almoço<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="105" valign="top" style="width:78.65pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Almoço<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="98" valign="top" style="width:73.7pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">12:00 – 13:30<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="96" valign="top" style="width:72.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Almoço<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="102" valign="top" style="width:76.3pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">13: 00 – 14:30<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="111" valign="top" style="width:83.55pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Almoço<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.7pt;border:none;border-left:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">&nbsp;</span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <span style="font-family:
  " times="" new="" roman"," serif""="">
                                    <b>&nbsp;</b>
                                </span>
                            </p>
                        </td>
                        <td width="109" valign="top" style="width:81.75pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:accent1;
  mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">13:30 – 15:15<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="108" valign="top" style="width:81.35pt;border:none;background:#D3DFEE;
  mso-background-themecolor:accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>2ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="105"
                            valign="top"
                            style="width:78.65pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>5ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="98" valign="top" style="width:73.7pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:accent1;
  mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">13:30 – 15:15<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="96"
                            valign="top"
                            style="width:72.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>8ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="102" valign="top" style="width:76.3pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:accent1;
  mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">14:30 – 17:20<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="111"
                            valign="top"
                            style="width:83.55pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>11ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="109" valign="top" style="width:81.7pt;border:none;border-left:solid windowtext 1.0pt;
  mso-border-left-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">A partir de 18:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="109" valign="top" style="width:81.75pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Entrega das Credenciais<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="109" valign="top" style="width:81.75pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">15:15 – 15:45<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="108" valign="top" style="width:81.35pt;border:none;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Coffe Break<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="105" valign="top" style="width:78.65pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Coffe Break<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="98" valign="top" style="width:73.7pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">15:30 – 16:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="96" valign="top" style="width:72.25pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Coffe Break<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td width="102" valign="top" style="width:76.3pt;border:none;mso-border-left-alt:
  solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">17:20 – 17:50<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="111" valign="top" style="width:83.55pt;border:none;border-right:solid windowtext 1.0pt;
  mso-border-right-alt:solid windowtext .5pt;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Coffe Break<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.7pt;border-top:none;border-left:
  solid windowtext 1.0pt;border-bottom:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:
  accent1;border-right:none;mso-border-left-alt:solid windowtext .5pt;
  mso-border-bottom-alt:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">19:00 – 22:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border-top:none;border-left:
  none;border-bottom:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  border-right:solid windowtext 1.0pt;mso-border-bottom-alt:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-right-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <span style="font-family:
  " times="" new="" roman"," serif""="">
                                    <b>Solenidade de Abertura<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="109"
                            valign="top"
                            style="width:81.75pt;border:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-left-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: 115%;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">15:45 – 17:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td width="108" valign="top" style="width:81.35pt;border:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;background:#D3DFEE;mso-background-themecolor:
  accent1;mso-background-themetint:63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>3ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="105"
                            valign="top"
                            style="width:78.65pt;border-top:none;border-left:
  none;border-bottom:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  border-right:solid windowtext 1.0pt;mso-border-bottom-alt:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-right-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>6ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="98"
                            valign="top"
                            style="width:73.7pt;border:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-left-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">16:00 – 18:00<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="96"
                            valign="top"
                            style="width:72.25pt;border-top:none;border-left:
  none;border-bottom:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  border-right:solid windowtext 1.0pt;mso-border-bottom-alt:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-right-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>9ª Sessão<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                        <td
                            width="102"
                            valign="top"
                            style="width:76.3pt;border:none;border-bottom:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-left-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <b>
                                    <span style="font-family:" times="" new="" roman"," serif""="">18:00 – 20:30<o:p></o:p>
                                    </span>
                                </b>
                            </p>
                        </td>
                        <td
                            width="111"
                            valign="top"
                            style="width:83.55pt;border-top:none;border-left:
  none;border-bottom:solid #4F81BD 1.0pt;mso-border-bottom-themecolor:accent1;
  border-right:solid windowtext 1.0pt;mso-border-bottom-alt:solid #4F81BD 1.0pt;
  mso-border-bottom-themecolor:accent1;mso-border-right-alt:solid windowtext .5pt;
  background:#D3DFEE;mso-background-themecolor:accent1;mso-background-themetint:
  63;padding:0cm 5.4pt 0cm 5.4pt">
                            <p class="MsoNormal" align="center" style="text-align: center; margin-bottom: 0.0001pt; line-height: normal;">
                                <span style="font-family:" times="" new="" roman"," serif""="">
                                    <b>Cerimônia de Encerramento<o:p></o:p>
                                    </b>
                                </span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p class="MsoNormal" align="center" style="text-align: center;">
                <span style="font-size: 14pt; line-height: 115%;" times="" new="" roman"," serif""="">
                    <b>&nbsp;</b>
                </span>
            </p>
            <p class="MsoNormal" style="font-weight: normal;"></p>
            <p class="MsoNormal" style="font-weight: normal; text-align: justify;">
                <span style="font-size:36.0pt;
line-height:115%;font-family:" times="" new="" roman"," serif""="">&nbsp;</span>
            </p>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
