<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>A Diretoria</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12"></div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <div class="row">

        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Conferência Internacional para Resolução da Questão de Laos – 1962 (Mini-SONU)</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Corte Interamericana de Direitos Humanos – CIDH</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Gabinete do Presidente da República Federativa do Brasil</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Organização Mundial da Saúde – OMS</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Organização das Nações Unidas para a Educação, a Ciência e a Cultura – UNESCO (Mini-SONU)</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Terceiro Comitê da Assembleia Geral das Nações Unidas – AGNU: Comitê para Assuntos Sociais, Culturais e Humanitários (SoCHum)</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>United Nations Security Council – UNSC</span>
        </h3>

        <div class="span12">

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
