<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Fortaleza</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div style="text-align: justify;">
                <font face="Tahoma">Localizada no Nordeste do Brasil e capital do Estado do Ceará, Fortaleza, a 5ª cidade mais populosa do Brasil é conhecida por turistas do mundo todo pela simpatia, bom humor e hospitalidade do povo fortalezense. Quem visita a
                    Terra da Luz encontra, um clima agradável de 27 ºC e cerca de 300 dias de sol por ano, além de uma completa infraestrutura hoteleira e urbana que acomoda milhares de visitantes o ano inteiro, tornando-a o destino do Nordeste mais procurado pelos
                    turistas.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Em Fortaleza encontramos tudo o que uma vida cultural agitada pode oferecer. No Centro Dragão do Mar de Arte e Cultura, podemos vivenciar o melhor do teatro, das artes plásticas, da literatura, do cinema e da dança. A vida
                    multicultural da cidade não se restringe aos 30.000 m² do Dragão do Mar, mas se estende pela orla da Avenida Beira-Mar e seus artistas de rua, pelos museus, que guardam a história da cidade e as obras dos mestres da cultura do Nordeste e pelo
                    belíssimo Theatro José de Alencar, obra arquitetônica em Art Nouveau que enche os olhos de quem passa pelo local.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">E para comer? Peixes, camarão e caranguejo estão em evidência entre os pratos típicos da capital cearense. Por sua vez, o baião de dois, a carne seca e a farofa estão no gosto do paladar tipicamente nordestino. No entanto, a
                    gastronomia cearense não se limita ao regional: os polos gastronômicos nos bairros Varjota, Meireles, Aldeota e Praia de Iracema trazem enorme diversidade de restaurantes de várias nacionalidades, além de pizzarias, churrascarias e lanchonetes. Além
                    disso, não podemos esquecer de mencionar, é claro, o famoso Centro das Tapioqueiras, um lugar dedicado ao preparo da deliciosa Tapioca, localizado no lado sul da cidade.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Mais do que a vida na metrópole, aquele que conhecer melhor o Ceará irá se surpreender com uma terra privilegiada: com sol o ano inteiro e paisagens paradisíacas, o estado possui 574 km de litoral. Dentre as praias da Capital,
                    vale destacar a infraestrutura da Praia do Futuro. Entretanto, para aqueles que querem fugir um pouco da agitação da cidade, as praias de Canoa Quebrada, Flecheiras e Jericoacoara, por exemplo, reservam ao visitante a experiência de um estilo de vida
                    simples e tranquilo, onde o artesanato regional e as vilas de pescadores ainda impulsionam o comércio local. Para além das praias, quem vem ao Ceará poderá também desfrutar de nossas serras e cachoeiras ou, ainda, aventurar-se nos cenários semiáridos
                    do sertão nordestino.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: center;"><img src="http://www.sonu.ufc.br/up/5bd4d6bcc220b94e9945ba0494b8926b.jpg"></div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify; font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"><br></div>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
