<div id="content">
   <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
   
   <!--SLIDE-->
   <div class="wrapper">
  <article>
    <div class="fullwidthbanner-container">
      <div class="fullwidthbanner">
        <ul>
          
                
          <li data-transition="fade" data-slotamount="7" > 
      <a href="http://sonu.ufc.br/carta-de-apresentacao" target="_blank"><img src="http://sonu.ufc.br/upload/f144fed2497cff11ffb7e5166c8a63ff.jpg" >
          </li>
          
            
          <li data-transition="fade" data-slotamount="7" > 
      <a href="http://sonu.ufc.br/comites" target="_blank"><img src="http://sonu.ufc.br/upload/929e543b7ea77acbd60400496226702d.jpg" >
          </li>
          
            
          <li data-transition="fade" data-slotamount="7" > 
      <a href="http://sonu.ufc.br/o-que-sao-muns" target="_blank"><img src="http://sonu.ufc.br/upload/588fd74c060f19d719ee3787a08eba47.jpg" >
          </li>
          
            
          <li data-transition="fade" data-slotamount="7" > 
      <a href="#" target="_blank"><img src="http://sonu.ufc.br/upload/93673a35ee40fab9fd064173a1b1a840.jpg" >
          </li>
          
            
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </article>
</div>



   <div style="background-image:url(_content/backgrounds/bg-box.png);" class="box">
      <div class="row">
         <div class="span12">
            <div class="callout-box hidden-phone">
               <div class="row">
                  <div class="span9">
                     <div class="icon-box-1">
                        <div class="icon-box-content">
                           <h2>
                              <a href="#">Já se <strong>CADASTROU</strong> em nosso site? </a>
                           </h2>
                           <p class="last hidden-tablet">Faça já seu cadastro para realizar sua inscrição em nossos eventos.</p>
                        </div>
                        <!-- end .icon-box-content -->
                     </div>
                     <!-- end .icon-box-1 -->
                  </div>
                  <!-- end .span9 -->
                  <div class="span3 text-right">
                     <%= link_to 'CADASTRE-SE', new_user_registration_path, class:"btn btn-large-big btn-blue-light" 
%>                  </div>
                  <!-- end .span3 -->
               </div>
               <!-- end .row -->
            </div>
            <!-- end .callout-box -->
         </div>
         <!-- end .span12 -->
      </div>
      <!-- end .row -->
   </div>
   <!-- end .box -->

    <div class="row">
      <div class="span12">
         <h3 class="headline">
            <span>NOTÍCIAS</span>
         </h3>
      </div>
      <!-- end .span12 -->
   </div>
   <!-- end .row -->
   <div class="row">
      <div class="span6">
         <div class="icon-box-1">
            <i class="ifc-copy"></i>
            <div class="icon-box-content">
               <h2>
                  <a href="/noticia">E.E.F.M. Patronato Sagrada Família recebe primeira SONU Escolas de 2016</a>
               </h2>
            </div>
            <!-- end .icon-box-content -->
         </div>
         <!-- end .icon-box-1 -->
         <p class="hidden-tablet">
            Durantes os dias 21 e 22 de março, alunos do Ensino Médio participaram da SONU Escolas como delegados da Organização para a Cooperação Islâmica (OCI), discutindo e buscando chegar a uma resolução sobre o tema: "Adoção e Efetivação dos Direitos da Mulher no Mundo Islâmico". Além disso, três estudantes do 1º ano do Ensino Médio simularam como repórteres do Khaleej Times, produzindo notícias sobre as sessões do comitê.
         </p>
         <p class="text-right">
            <br><br><a href="/noticias" class="btn btn-blue-dark">Leia Mais</a>
         </p>
      </div>
      <!-- end .span6 -->
      <div class="span6">
         <div class="portfolio-item">
            <div class="portfolio-item-preview">
               <a href="#">
               <img alt="" src="_content/portfolio/460x265-2.png">
               </a>
               <div class="portfolio-item-overlay">
                  <div class="portfolio-item-overlay-actions">
                     <a title="zoom" href="images/<?=$r->foto?>" class="magnificPopup-gallery portfolio-item-zoom">
                     <i class="ifc-zoom_in"></i>
                     </a>
                     <a title="zoom" href="/noticia/<?=$r->slug?>" class="portfolio-item-link">
                     <i class="ifc-link"></i>
                     </a>
                  </div>
                  <!-- end .portfolio-item-overlay-actions -->
                  <div class="portfolio-item-description hidden-tablet">
                     <h4 class="text-uppercase">Notícia</h4>
                  </div>
                  <!-- end .portfolio-item-description -->
               </div>
               <!-- end .portfolio-item-overlay -->
            </div>
            <!-- end .portfolio-item-preview -->
         </div>
         <!-- end .portfolio-item -->
      </div>
      <!-- end .span6 -->
   </div>
   <!-- end .row -->
   <div class="row">
      <!-- Laço portifolio -->
      <div class="span3">
         <div class="portfolio-item">
            <div class="portfolio-item-preview">
               <a href="#">
               <img alt="" src="http://sonu.com.br/images/ad494b886577d03ebbdc70900e23c6f6.jpg">
               </a>
               <div class="portfolio-item-overlay">
                  <div class="portfolio-item-overlay-actions">
                     <a title="zoom" href="/images/<?=$r->foto?>" class="magnificPopup-gallery portfolio-item-zoom">
                     <i class="ifc-zoom_in"></i>
                     </a>
                     <a title="zoom" href="/noticia/<?=$r->slug?>" class="portfolio-item-link">
                     <i class="ifc-link"></i>
                     </a>
                  </div>
                  <!-- end .portfolio-item-overlay-actions -->
                  <div class="portfolio-item-description hidden-tablet" style="top:15px">
                     <h4 class="text-uppercase">Notícia</h4>
                  </div>
                  <!-- end .portfolio-item-description -->
               </div>
               <!-- end .portfolio-item-overlay -->
            </div>
            <!-- end .portfolio-item-preview -->
         </div>
         <!-- end .portfolio-item -->
      </div>
      <!-- end .span3 -->
      <!-- Laço portifolio fim -->  
   </div>
   <!-- end .row -->
   <br><br>
   
   
   <!-- end .box -->
   <div class="row">
      <div class="span12">
         <h3 class="headline">
            <span>VÍDEOS</span>
         </h3>
      </div>
      <!-- end .span12 -->
   </div>
   <!-- end .row -->
   <div class="row">
      <div class="span12" style="margin-bottom:50px">
         <!--
            https://www.youtube.com/embed/tk0JvISeSvc
            -->
         <iframe width="940" height="315" src="https://www.youtube.com/embed/tk0JvISeSvc" frameborder="0" allowfullscreen></iframe>
      </div>
      <!-- end .span6 -->
   </div>
   <!-- end .row -->
   <div class="row">
      <div class="span7">
         <h3 class="headline">
            <span><i class="fa fa-instagram"></i> SONU NO INSTAGRAM</span>
         </h3>
         <iframe src="http://snapwidget.com/in/?u=c29udV91ZmN8aW58MTAwfDR8Mnx8bm98NXxmYWRlT3V0fG9uU3RhcnR8eWVz&v=3714" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:420px; height:210px"></iframe>
      </div>
      <!-- end .span8 -->
      <div class="span5 text-right">
         <h3 class="headline">
            <span><i class="fa fa-facebook-square"></i> SONU NO FACEBOOK</span>
         </h3>
         <div><iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fsonu.ufc&amp;width=380&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=true&amp;appId=1612842998855267" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:340px; height:258px;" allowTransparency="true"></iframe></div>
      </div>
      <!-- end .span4 -->
   </div>
   <!-- end .row -->
   <br><br>
   <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>