<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>O que são MUN's?</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <h3 style="text-align: center;"><%= image_tag("/uploads/3502a780846a2e6e2f5ae74420553fb2.jpg")%></h3>
            <h3 style="text-align: justify;">
                <font face="Tahoma">Model United Nations ou Modelos de Simulação de Organismos Internacionais - MUN's&nbsp;</font>
            </h3>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">A prática da simulação, como é conhecida hoje, foi uma ideia de estudantes da Universidade de Harvard, Estados Unidos, em 1927. O grupo decidiu simular o ambiente da Liga das Nações após a Primeira Grande Guerra Mundial. Foi, no
                    entanto, depois da criação da ONU que a prática de modelos se expandiu pelo mundo. Nesse modelos de simulação, busca-se criar uma experiência de imersão no funcionamento dos principais organismos internacionais, simulando-se a vestimenta, os
                    documentos, o procedimento, os debates e a cobertura jornalística típicos do ambiente diplomático.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <h4 style="text-align: justify;">
                <font face="Tahoma">O que faz o participante de um Modelo de Simulação de Organismos Internacionais?&nbsp;</font>
            </h4>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">O participante de um modelo será desafiado a desempenhar da melhor forma possível os seguintes papéis: - diplomata ou ministro de Estado, defendendo o posicionamento de um país acerca de determinado tema em um organismo
                    internacional; - jornalista, assessor ou editor, realizando a cobertura jornalística dos debates em curso, entrevistando diplomatas e ministros para publicar matérias nas mais diversas plataformas de mídia (impresso, web, rádio); - juiz ou advogado,
                    julgando ou defendendo determinado caso levado à atenção das cortes internacionais;&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <h4 style="text-align: justify;">
                <font face="Tahoma">Como um participante se prepara para simular?</font>
            </h4>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Para que a simulação tenha sucesso, é essencial que todos os envolvidos estudem profundamente os organismos simulados, os temas debatidos, tendo ainda clara compreensão do papel que devem desempenhar. Dessa forma, os modelos
                    oferecem os mais diversos materiais de consulta para preparar os inscritos. A SONU, por sua vez, oferece Guias de Estudos, Manuais do Participante, Regras de Procedimento, Modelos de Documentos e diversos outros materiais acadêmicos especialmente
                    preparados para tornar a preparação dos inscritos a mais completa possível. Todavia, cabe destacar que cada participante deve também procurar pesquisar por conta própria o acerca do organismo que simulará, estudando acerca do país/agência
                    internacional/posicionamento jurídico que irá representar.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <h4 style="text-align: justify;">
                <font face="Tahoma">Qual a vestimenta?&nbsp;</font>
            </h4>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Com a finalidade de simular do modo mais fidedigno possível uma reunião de organizações internacionais, todos os participantes devem portar-se de modo condizente às posições de diplomáticas do país que representa, respeitando,
                    dessa forma, a seriedade dos debates. Os delegados devem analisar com bom senso a sua vestimenta e evitar usar, durante as sessões, roupas que fujam dos trajes diplomáticos, tais como jeans, saias curtas, bonés, tênis e chinelos.</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Os delegados do sexo masculino devem sempre usar terno e gravata durante a SONU. Já às mulheres, é permitido o uso de calças, saias ou tailleurs. Cabe mencionar também que SONU admite a utilização de trajes e acessórios típicos
                    dos países representados na reunião do Comitê, sempre que utilizados formalmente.</font>
            </div>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
</div>
