<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Festas</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <img src="upload/5a14eb8fe5cbbb36973f25ff0f3e917b.jpg" class="fotoborda" width="400" height="250">
                </div>
                <div style="float:left; width:520px">
                    <h4>Festa do Pijama</h4>
                    <h6>
                        <div style="text-align: justify;">
                            <font face="Tahoma">A festa mais tradicional e conhecida da SONU, a Festa do Pijama acontece após o terceiro dia de simulação. Para essa confraternização peculiar, todos devem ir de pijama (nenhuma relação com possíveis trocadilhos relacionados ao
                                nome da simulação). A festa conta com uma produção super especial, que inclui banda, decoração e open bar. A entrada é proibida para menores de 18 anos.</font>
                        </div>
                    </h6>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <img src="upload/97ab438113aab41d61148bb6f4634e47.jpg" class="fotoborda" width="400" height="250">
                </div>
                <div style="float:left; width:520px">
                    <h4>Feijoada</h4>
                    <h6>
                        <div style="text-align: justify;">
                            <font face="Tahoma">A clássica Feijoada ocorre dias depois do encerramento da simulação, reunindo novamente participantes, organizadores e amigos da SONU para relembrar os acontecimentos da simulação e estreitar os laços de amizade firmados entre
                                votações e debates não moderados, enquanto saboreiam uma boa feijoada e desfrutam do open bar. Na Feijoada, também é proibida a entrada de menores de 18 anos.</font>
                        </div>
                    </h6>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <img src="upload/0c0c5ca0626280c271496b76e77e6c6a.png" class="fotoborda" width="400" height="250">
                </div>
                <div style="float:left; width:520px">
                    <h4>Festa do Nescau</h4>
                    <h6>
                        <div style="text-align: justify;">
                            <font face="Tahoma">Após o segundo dia, a SONU reserva um espaço para confraternização com karaokê e Nescau liberado. A festa é o espaço ideal para confraternização com os alunos do Ensino Médio, participantes da Mini-Sonu, já que tem entrada
                                liberada para todas as idades.&nbsp;</font>
                        </div>
                    </h6>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>
            <div style="margin-bottom:20px; ">
                <div style="float:left; margin-right:20px; width:400px">
                    <img src="upload/62b1a66ae03a0763f500319cdbc57a91.jpg" class="fotoborda" width="400" height="250">
                </div>
                <div style="float:left; width:520px">
                    <h4>Happy Hour</h4>
                    <h6>
                        <div style="text-align: justify;">
                            <font face="Tahoma">Após o primeiro dia de simulação, participantes, diretores e secretários se reúnem em um bar local para um rápido e descontraído happy hour. É a oportunidade perfeita para conhecer melhor os diretores e outros delegados com quem
                                você irá simular durante os dias seguintes. Importante: no happy hour da SONU somente são permitidos maiores de 18 anos.</font>
                        </div>
                    </h6>
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="divider double-dotted"></div>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
