<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>SONU Escolas</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; text-align: center;"><%= image_tag("/uploads/403af410ba7fae266b7e740bf6db9dd1.png" height:'140px')%></div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;"><br></div>
            <div>
                <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal;">
                    <font face="Arial, Verdana"><br></font>
                </div>
                <div style="font-family: Arial, Verdana; font-size: 10pt; font-style: normal; font-variant: normal; font-weight: normal; line-height: normal; text-align: justify;">
                    <font face="Tahoma">Idealizado em 2013, o Projeto SONU Escolas alcançou sua efetivação em 2014. O SONU Escolas busca consolidar o elemento "extensão" do tripé universitário no âmbito do Programa SONU, levando os modelos de simulação para o interior
                        das escolas, mais especificamente para alunos de Ensino Médio da rede pública ou privada. Por intermédio dessa iniciativa, os alunos de Ensino Médio terão a oportunidade de discutir temáticas internacionais, apurando a percepção de como funcionam os
                        mecanismos de resolução de controvérsias multilaterais e como as decisões desses organismos repercutem na vida do cidadão comum.
                        <br><br></font>
                </div>
            </div>
            <br><br>
            <a href="/sonu-escolas/vermais">Ver mais</a>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
