<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>O Secretariado</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <div style="text-align: justify;">
                <font face="Tahoma">O Secretariado da SONU é eleito anualmente e desempenha uma função de cúpula administrativa, organizando e coordenando logística e academicamente toda a simulação, sob orientação dos docentes orientadores do Programa SONU.&nbsp;</font>
            </div>
            <div style="text-align: justify;"><br></div>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <div class="row">

        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Secretário Geral</span>
        </h3>

        <div class="span12">

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=40">
                            <img src="upload/0c437752aed8b8e78896a819888a0c35.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=40">
                        <h4>Artur Costa</h4>
                    </a>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Vice-Secretário Geral</span>
        </h3>

        <div class="span12">

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=41">
                            <img src="upload/8a87bcc5ee1ecf7128cdf883034c7f41.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=41">
                        <h4>Daniel Marques</h4>
                    </a>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Secretários Acadêmicos</span>
        </h3>

        <div class="span12">

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=42">
                            <img src="upload/b9684952453d7613de7cab0707f6c740.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=42">
                        <h4>Felipe Sousa</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=43">
                            <img src="upload/fd3ac8ebc3b61da58853e87dd7455b37.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=43">
                        <h4>João Lucas Lopes</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=45">
                            <img src="upload/2d803094d97972dcdb8d2c3544b274f5.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=45">
                        <h4>Letícia Pinheiro</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=46">
                            <img src="upload/1de60aa3070e0bcc5fc3300cd2f31281.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=46">
                        <h4>Tales Muniz</h4>
                    </a>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Secretários Administrativos</span>
        </h3>

        <div class="span12">

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=47">
                            <img src="upload/33d35cc5e2ecde7789471fc9c6f2db9e.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=47">
                        <h4>Júlia Sampaio</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=48">
                            <img src="upload/ea9b3d47a164dae01bab646287a58341.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=48">
                        <h4>Mateus Pinho</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=58">
                            <img src="upload/c29440243a5d16415e5b7343253e4bbe.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=58">
                        <h4>Millene Haeer</h4>
                    </a>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
        <h3 class="headline" style="margin-bottom:30px; margin-top:20px">
            <span>Secretárias de Comunicação</span>
        </h3>

        <div class="span12">

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=50">
                            <img src="upload/728f46418d1d7f7f06812d7174bccca8.jpg" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=50">
                        <h4>Anália Mendonça</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=51">
                            <img src="upload/38fbb0b994c5a5899ce3bf0b7a0deb36.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=51">
                        <h4>Ester Coelho</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=55">
                            <img src="upload/c6eccd61753160930035ecc1d3e5266d.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=55">
                        <h4>Isabela Santana</h4>
                    </a>
                </div>

            </div>

            <div style="margin-bottom:20px; width:170px; float:left">
                <div style="text-align:center">
                    <center>
                        <a class='iframe' href="http://sonu.com.br/secretario.php?id=56">
                            <img src="upload/b397d02e47c96d8a200efae77bae8de5.JPG" class="fotoborda" height="150">
                        </a>
                    </center>
                </div>
                <div style="text-align:center">
                    <a class='iframe' href="http://sonu.com.br/secretario.php?id=56">
                        <h4>Suzana Mesquita</h4>
                    </a>
                </div>

            </div>

            <div style="clear:both"></div>

        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
