<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>SONU Solidário</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div style="text-align: justify;">
                <font face="Tahoma">Fundado ao longo da SONU Beta 2013, o SONU Solidário é uma iniciativa beneficente do Programa SONU. Voltada a atender as necessidades de uma entidade beneficente previamente escolhida e consultada, os organizadores da SONU
                    promovem a coleta dos donativos solicitados ao longo das simulações e eventos acadêmicos realizados.</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Em 2013, a<a href="http://cruzvermelha.org.br/">
                        Cruz Vermelha</a>
                    do Ceará foi escolhida, oportunidade em que se arrecadou alimentos não perecíveis e água potável para as vítimas da seca no Nordeste.</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Em 2014, após campanha de arrecadação durante a SONU Beta, escolheu-se o
                    <a href="http://www.iprede.org.br/">Instituto da Primeira Infância (IPREDE)</a>, recolhendo-se latas de leite em pó para as crianças auxiliadas pela instituição.&nbsp;</font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma"><br></font>
            </div>
            <div style="text-align: justify;">
                <font face="Tahoma">Em 2015 a arrecadação da SONU Beta também foi destinada ao&nbsp;</font>
                <a href="http://www.iprede.org.br/" style="font-family: Tahoma; font-size: 13.3333px;">IPREDE</a>.</div>
            <div style="text-align: justify;"><br></div>
            <div style="text-align: center;"><img src="http://sonu.ufc.br/up/5fd85797647c2b5111b7991fe64b217e.jpg"></div>
            <div style="text-align: center;"><br></div>
            <div style="text-align: center;">Em 2015, Secretários da SONU entregam no IPREDE as doações recolhidas na SONU Beta.</div>
            <div style="text-align: center;"><br></div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: center;"><img src="http://www.sonu.com.br/up/966d7dc1561ad99c80257d306e3536a3.jpg"></div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: center;"><br></div>
            <div style="text-align: center;">
                <font size="2" face="Tahoma">Em 2014, diante do IPREDE, secretários da SONU entregam os donativos recebidos.&nbsp;</font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: center;"><br></div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: center;"><img src="http://www.sonu.com.br/up/ac725e1e44110e23e62a5cc4a3cf146c.jpg"></div>
            <div style="text-align: center;">
                <font size="2" face="Tahoma"><br></font>
            </div>
            <div style="text-align: center;">
                <font size="2" face="Tahoma">Após a SONU Beta 2013, Secretários da SONU realizam a entrega dos mantimentos recolhidos durante a simulação.</font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: center;"><br></div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: center;"><br></div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; text-align: justify;"><br></div>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
