<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Certificados SONU</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; font-style: normal; text-align: center;">
                <b style="font-size: xx-large;">CERTIFICADOS SONU 2016:</b>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; font-style: normal; text-align: center;">
                <b style="font-size: xx-large;"><br></b>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <b>
                    <font face="Arial" size="2">-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUVF9EeWVVbjBad1k?usp=sharing">ALTO COMISSARIADO DAS NAÇÕES UNIDAS PARA REFUGIADOS - ACNUR</a>
                    </font>
                </b>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <b><br></b>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <b>
                    <font face="Arial" size="2">-&nbsp;<a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUYVQzX1VWRVdOTnM?usp=sharing">COMITÊ DE IMPRENSA INTERNACIONAL - CII</a>
                    </font>
                </b>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <b>
                    <font face="Arial" size="2"><br></font>
                </b>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUUGh2ZnloRUl0cm8?usp=sharing">CONSELHO DE SEGURANÇA DAS NAÇÕES UNIDAS - CSNU</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b><br></b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUQjdtdTJIWl9XdUE?usp=sharing">FÓRUM DE GOVERNANÇA DA INTERNET - FGI</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b><br></b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUM0s3ckRmTmxxRVk?usp=sharing">ORGANIZAÇÃO DAS NAÇÕES UNIDAS PARA ALIMENTAÇÃO E AGRICULTURA - FAO</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b><br></b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUcGZJMldkbm85ZmM?usp=sharing">PRESIDENT GEORGE W. BUSH'S CABINET - CABINET</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b><br></b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUd0VRaTVhUkpWNmc?usp=sharing">TRIBUNAL PENAL INTERNACIONAL - TPI</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b><br></b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUd2U3ZTRlQ2JzZVU?usp=sharing">UNIÃO INTERNACIONAL DE TELECOMUNICAÇÕES - UIT&nbsp;</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b><br></b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUZldra3NJZzhHZW8?usp=sharing">DIRETORIA&nbsp;</a>
                    </b>
                </font>
            </div>
            <div style="font-family: Arial, Verdana; font-size: 10pt; font-weight: normal; text-align: left; font-style: normal;"><br></div>
            <div style="text-align: left; font-style: normal;">
                <font face="Arial" size="2">
                    <b>-
                        <a href="https://drive.google.com/drive/folders/0B5BsBPVIEGUUdGtZMmtzdHlndU0?usp=sharing">SECRETARIADO</a>
                    </b>
                </font>
            </div>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
