<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>Minicursos/Palestras</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row" style="margin-bottom:30px">
        <div class="span12">

            <h1 align="center" style="font-size: 10pt; text-align: left;"><br></h1>
            <div style="font-size: 10pt; text-align: center;"><img src="http://sonu.ufc.br/up/0ab01f0b8697099204cb657167aa48a5.jpg"></div>
            <div style="font-size: 10pt; text-align: center;"><br></div>
            <div style="font-size: 10pt; text-align: center;"><br></div>
            <div style="text-align: center;">
                <div style="font-size: 10pt; text-align: justify;"><br></div>
                <p class="MsoNormal" style="text-align: justify; border: none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0cm;">
                    <span
                        style="font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-color: white; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <o:p>A realização de palestras e mini-cursos também faz parte das atividades da SONU.</o:p>
                    </span>
                </p>
                <p class="MsoNormal" style="text-align: justify; border: none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0cm;">
                    <span
                        style="font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-color: white; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <o:p>Em 2015 foram realizados 2 minicursos na primeira metade do ano: Minicurso "Há um limite para a liberdade de expressão?" e minicurso de Metodologia Científica.&nbsp;</o:p>
                    </span>
                </p>
                <p class="MsoNormal" style="text-align: justify; border: none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0cm;">
                    <span
                        style="font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-color: white; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <o:p>Além da tradicional palestra de abertura da SONU, foram realizados dois ciclos de palestras na segunda metade do ano. O I Ciclo de Palestras Temáticas da SONU trouxe abordagens&nbsp;</o:p>
                    </span>
                    <span style="font-family: Arial, sans-serif; background-color: white;">interessantes acerca dos aspectos formais e materiais do julgamento de Adolf Eichmann em 1961 e da temática de identidade sexual e de gênero.</span>
                </p>
                <p class="MsoNormal" style="font-size: 10pt; border: none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0cm;">
                    <span
                        style="font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-color: white; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <font size="2"><br></font>
                    </span>
                </p>
                <p class="MsoNormal" style="font-size: 10pt; border: none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0cm;">
                    <span
                        style="font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-color: white; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"><img src="http://sonu.ufc.br/up/a47700e6a3cfcc77f64d46f3199b0ec1.jpg"></span>
                </p>
                <p class="MsoNormal" style="font-size: 10pt; border: none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0cm;">
                    <span
                        style="font-family: Arial, sans-serif; background-image: initial; background-attachment: initial; background-color: white; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
                        <font size="2">Palestra comemorativa aos 70 anos da Organização das Nações Unidas, acerca do “Protagonismos das Nações Unidas e a importância da afirmação de uma cultura em Direitos Humanos”, ministrada pelas Profª Ma. Ana Luísa Demoraes Campos e
                            Rosa Júlia Plá Coelho.</font>
                    </span>
                </p>
            </div>
            <div style="font-size: 10pt; text-align: center;"><br></div>
            <div style="font-size: 10pt; text-align: center;"><br></div>
            <h4 style="font-size: 10pt;"></h4>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <div class="row">
        <div class="span12"></div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
