<div id="content">

    <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div id="page-header">

        <div class="row">
            <div class="span12">

                <h2>História da SONU</h2>

            </div>
            <!-- end .span12 -->
        </div>
        <!-- end .row -->

    </div>
    <!-- end #page-header -->

    <div class="row">
        <div class="span12">

            <p class="MsoNoSpacing" style="text-align: center;"><%= image_tag("/uploads/3502a780846a2e6e2f5ae74420553fb2.jpg")%></p>
            <p class="MsoNoSpacing" style="text-align: justify;">
                <font face="Arial">A prática da simulação de organismos internacionais, como é conhecida hoje, foi uma ideia de estudantes da Universidade de Harvard, Estados Unidos, em 1927. O grupo decidiu simular o ambiente da Liga das Nações após a Primeira
                    Guerra Mundial. Foi, no entanto, depois da criação da ONU que a prática de modelos se expandiu pelo mundo, formando-se as chamadas MUN (<i>Model United Nations</i>).<o:p></o:p>
                </font>
            </p>

            <p class="MsoNoSpacing" style="text-align: justify;">
                <font face="Arial">Também movidos pelo interesse e pela curiosidade de saber como funcionam os sistemas de resolução de impasses internacionais, alunos da disciplina de Direito Internacional Público da Faculdade de Direito da Universidade Federal do
                    Ceará decidiram recriar o ambiente da maior organização mundial, a ONU, simulando a Comissão de Direitos Humanos. Assim, em dezembro de 2004, surgiu a Simulação da Organização das Nações Unidas (SONU), o primeiro modelo a simular organismos
                    internacionais no Estado do Ceará.<o:p></o:p>
                </font>
            </p>

            <p class="MsoNoSpacing" style="text-align: justify;">
                <font face="Arial">No ano seguinte, o projeto se expandiu. Foram, então, simulados, além do mesmo comitê do ano anterior, o Conselho de Segurança das Nações Unidas e a Corte Internacional de Justiça. A ampliação da SONU abriu espaço para a
                    participação de diversos estudantes, profissionais, colaboradores e entidades para sua realização.<o:p></o:p>
                </font>
            </p>

            <p class="MsoNoSpacing" style="text-align: justify;">
                <font face="Arial">O sucesso da simulação levou o evento a mais uma edição, que aconteceu no começo do mês de dezembro de 2006. Foram recriados, nesse ano, o Conselho de Segurança das Nações Unidas, o Conselho de Direitos Humanos e o Tribunal Penal
                    Internacional para a Ex-Iugoslávia. Isso sem contar com uma grande novidade: a integração de alunos do curso de Jornalismo, com a adição do Comitê de Imprensa Internacional (CII).<o:p></o:p>
                </font>
            </p>

            <p class="MsoNoSpacing" style="text-align: justify;">
                <font face="Arial">Já em 2007, a novidade trazida pela SONU foi a ampliação de sua esfera de atuação, aumentando o número de comitês e simulando, pela primeira vez, um comitê voltado exclusivamente para os alunos do Ensino Médio, dando origem à
                    carinhosa denominação Mini-SONU.</font>
            </p>
            <p class="MsoNormal">
                <font face="Arial">
                    Nos anos seguintes, a SONU continuou crescendo, ampliando seus horizontes&nbsp; e ganhando destaque em diversos meios de comunicação. Tudo isso foi fundamental para o sucesso do evento, que, a cada ano, conta um número maior de participantes.
                    <o:p></o:p>
                </font>
            </p>

            <p class="MsoNormal">
                <span style="font-family: Arial;">Em 2014, para comemorar os dez anos do projeto, a SONU realizou uma edição histórica, em que simulou 10 comitês - um para cada ano de existência da organização. No mesmo ano, foi criado o SONU Escolas, projeto
                    responsável por levar as simulações ao ambiente interno de escolas públicas e particulares de Fortaleza. Também foi lançado o livro "SONU 10 Anos: Organizando e Realizando um Modelo ONU", que conta um pouco da história da SONU e traz diversas
                    informações úteis para a criação de novos modelos de simulação.</span>
            </p>

            <p class="MsoNormal">
                <span style="font-family: Arial;">Com a criação de diversos projetos dentro de seu escopo, a SONU já se tornou um programa de extensão, o que significa que sua organização é formada de diversos subprojetos com objetivos paralelos, além de outras
                    vertentes não formalizadas, tais como o projeto original SONU, o SONU Escolas, o SONU Acadêmico e o SONU Solidário.</span>
            </p>

            <p class="MsoNormal">
                <span style="font-family: Arial;">Em 2016, completamos 10 anos simulando o Comitê de Imprensa Internacional e integrando alunos da comunicação ao projeto. Para celebrar, será simulado um comitê político voltado especialmente a esses alunos: a União
                    Internacional das Telecomunicações (UIT).</span>
            </p>

            <p class="MsoNormal">
                <span style="font-family: Arial; text-align: justify;">Além disso, o projeto pretende expandir ainda mais o seu alcance, simulando os seguintes comitês no grande evento de setembro de 2016: o Comitê de Imprensa Internacional (CII), a União
                    Internacional das Telecomunicações (UIT), o Alto Comissariado das Nações Unidas para Refugiados (ACNUR), o Fórum de Governança da Internet (FGI), o Tribunal Penal Internacional (TPI), o Gabinete do Ex-Presidente George W. Bush (</span>
                <i style="font-family: Arial; text-align: justify;">President George W. Bush's Cabinet</i>
                <span style="font-family: Arial; text-align: justify;">, simulado em inglês), a Organização das Nações Unidas para Alimentação e Agricultura (FAO) e o Conselho de Segurança das Nações Unidas (CSNU), estes dois últimos voltados para alunos do Ensino Médio.</span>
            </p>
        </div>
        <!-- end .span12 -->
    </div>
    <!-- end. row -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div>
