<!-- Main content -->
<section class="content">
<!-- Small boxes (Stat box) -->
<div class="row">
   <div class="col-lg-3 col-xs-6">
      <!-- small box -->
      <div class="small-box bg-aqua">
         <div class="inner">
            <h3><%=@user.count%></h3>
            <p>Cadastrados</p>
         </div>
         <div class="icon">
            <i class="fa fa-user-plus" aria-hidden="true"></i>
         </div>
         <%= link_to crew_users_path, class: 'small-box-footer' do %>Ver Todos <i class="fa fa-arrow-circle-right"></i><%end%>
      </div>
   </div>
   <!-- ./col -->
